*
{
    margin: 0;
    padding: 0;
}

body /*fundo da pagina web*/
{
    width: 50%;
    height: 120vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    background: linear-gradient(-45deg, yellow, rgb(255, 136, 0), red);
}

#h1
{
    font-size: xx-large;
    margin-bottom: 5%;
    margin-top: -5%;
}

#title
{
    font-size: xx-large;
    margin-bottom: 5%;
}

form
{
    position: relative;
    top: 15%;
    left: 100%;
    height: 450px;
    animation: iniciar 1.6s ease-out;
    pointer-events: all;
}

.Name /* ajustando as abas de dados */
{
    margin-top: 50px;
    height: 250px;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 50px;
    padding: 70px;
    width: min-content;
    align-content: space-between;
    color: blue;
}

.password /*aqui ajusta a area de senhas/ a caixa dela*/
{
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 50px;
    padding: 60px;
    width: min-content;
    align-content: space-between;
    color: blue;
}

header /*isso ajusta o titulo da pagina*/
{
    font-size: x-large;
    margin-bottom: 0%;
}

input /*ajusta as areas de dados, as areas para enserir os dados*/
{
    min-width: 280px;
    border-radius: 22px;
    border: solid;
    padding: 6px;
    margin: 0px 0px 12px -5px; 
}

#button /*botão de cadastro*/
{
    margin-top: 10%;
    width: 100%;
    text-align: center;
}

#voltar a
{
    text-decoration: none;
    color: white;
}

#voltar button 
{
    margin-top: 10%;
    text-align: center;
}

#voltar button 
{
    font-family:Impact;
    background: linear-gradient(-45deg, rgba(236, 0, 0, 0.836), rgb(87, 15, 15), red);
    width: 100%;
    height: 50px;
    border: none;
    font-size: 1.2em;
    color: whitesmoke;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}


#button button /*ajustando o botão de cadastro*/
{
    font-family:Impact;
    background: linear-gradient(-45deg, rgba(255, 196, 0, 0.836), rgb(255, 136, 0), red);
    width: 100%;
    height: 40px;
    border: none;
    font-size: 1.2em;
    color: whitesmoke;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

@keyframes iniciar
{
    0%
    {
        top: -15%;
        opacity: 0;
        pointer-events: none;
    }
    100%
    {
        top: 15%;
        opacity: 100%;
        pointer-events: all;
    }
}

